/* header */
.header{
    /* 플랙스 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 포지션 */
    position: relative;
}
/* ------------------------- */
/* header .logo */
.header .logo{
    width: 193px; 
    margin-right: 76px;
}

/* ------------------------- */
/* header nav */
.header nav{
    /* 플랙스 */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav ul{
    /* 플랙스 */
    display: flex;
}

/* ------------------------- */
/* .gnb */
.header .gnb{
   font-size: 24px;
}
.header .gnb li:not(:last-child){
    margin-right: 40px;
}

/* snb */
.header .gnb .snb{
    width: 836px;
    height: 568px;
    background-color: red;
    /* 포지션 */
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}

/* ------------------------- */
/* .login_gnb */
.header .login_gnb{
    font-size: 1rem;
    font-weight: 300;
    margin-right: 40px;
}
.header .login_gnb li:first-child::after{
    content: "";
    font-size: 0.8rem;
    padding-right: 16px;
    border-right: 1px solid #000;
    margin-right: 16px;
}

