@charset "utf-8";

/* 폰트 CSS && 리셋 CSS */
@import url(./font.css);
@import url(./reset.css);

/* component */
@import url(./component/header.css);
@import url(./component/footer.css);

/* 외부 폰트 적용 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

/* ========================== */
/* 전체 스타일 적용 */
/* --------------------- */
/* body font 적용 */
body{
    font-family: "Pretendard Std Variable", "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 180%;
    font-weight: 600;
    letter-spacing: -0.05em;
}
/* --------------------- */
#wrap{
    /* background-color: #FAFBFB; */
    padding-top: 40px;
    padding-bottom: 60px;
}
/* safe area */
.w1720{
    /* (1720/1920)*100 = 89.58333333333334 */
    /* width: 89.58333333333334%; */
    width: 1720px;
    margin: 0 auto;
}
.w1440{
    /* (1440/1920)*100 = 75 */
    /* width: 75%; */
    width: 1440px;
    margin: 0 auto;
}
/* --------------------- */
/* em color 클래스 */
.em{
    color: #0046FF;
}

.hidden{
    display: none !important;
}

/* 경고창 */
.alert{
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    color: #fff;
    /* 포지션 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999; /* 경고창 */
    /* 로딩시 숨기기 */
    display: none;
}

