@charset "utf-8";
/* Contents */
/* section 01 */
main{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
main h2 {
	margin: 27px 0 63px;
	font-size: 32px;
	font-weight: 700;
}

/* 테이블 */
.stock_info {
	border-top: 2px solid #000;
	border-collapse: collapse;
	background-color: #fff;
}

.stock_info .tr {
	border-bottom: 1px solid #b9b9b9;
}

.stock_info .tr i {
	margin-left: 9px;
	color: #b9b9b9;
}

.stock_info .tr td {
	width: 17.35714285714286%;
	line-height: 80px;
}

.stock_info .tr th {
	width: 475px;
	text-align: left;
	font-weight: 600;
}

/* section 02 */
figure {
	margin: 30px auto;
}

/* section 03 */
.sec_3 {
	padding: 0 19px 36px 18px;
	height: 326px;
	background-color: #f3f5fa;
	border: 1px solid #e4e5e8;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	/* 플렉스 */
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.sec_3 .card {
	/* (335/1440)*100 = 23.26388888888889 */
	width: 23.26388888888889%;
	margin: 20px 0 0 19px;
	padding: 20px;
	border-radius: 20px;
	background-color: #fff;
}

.sec_3 .card dl>dt {
	font-weight: 500;
	margin-bottom: 20px;
}

.sec_3 .card dl>dt span {
	/* 14/16 = 0.875 */
	font-size: 0.875rem;
	font-weight: 300;
	color: #b9b9b9;
}

.sec_3 .card dd.up i {
	margin: 0 9px 0 25px;
	color: #ed3738;
	/* 14/16 = 0.875 */
	font-size: 0.875rem;
}

.sec_3 .card .check {
	/* 20/16 = 1.25 */
	font-size: 1.25rem;
	font-weight: 700;
	color: #b0afaf;
}

.pdf {
	padding: 33px 22px 33px 40px;
	margin-bottom: 62px;
	height: 80px;
	border: 1px solid #e4e5e8;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	cursor: pointer;
	/* 플렉스 */
	display: flex;
	justify-content: space-between;
}

.pdf ul {
	/* 플렉스 */
	display: flex;
}

.pdf ul li a {
	margin: 0 40px 0 0;
}

.pdf ul li i {
	margin-left: 15px;
}

.pdf p {
	margin: 10px 7px 0 0;
	text-align: center;
	padding: 30px 20px;
	border: 1px solid #e4e5e8;
	background-color: #f3f5fa;
	/* 로딩시 안보이게 */
	display: none;
}

/* button */
.sec_3_btn {
	text-align: center;
	margin-bottom: 62px;
}

.sec_3_btn button {
	margin-left: 20px;
	padding: 19px 59px 17px;
	border: var(--border);
	border-radius: 8px;
	cursor: pointer;
}

.blue_btn {
	background-color: var(--main-color);
	color: #fafbfb;
	border: none;
}

/* section 04 */
#contents {
	font-size: 0;
	margin-bottom: 70px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
	display: inline-block;
	width: 25%;
	font-size: 1rem;
	padding: 25px 0;
	text-align: center;
	cursor: pointer;
	background-color: #fafbfb;
	color: #999999;
	border-bottom: 1px solid #1a89da;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

input[type="radio"]:checked+label {
	color: #1a89da;
	background-color: #fff;
	border: 1px solid #1a89da;
	border-bottom: none;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.content1,
.content2,
.content4 {
	display: none;
	font-size: 1rem;
}

/* radio 버튼 연결 */
input[id="basic_info1"]:checked~.content1 {
	display: block;
}

input[id="basic_info2"]:checked~.content2 {
	display: block;
}

input[id="basic_info3"]:checked~.content3 {
	display: block;
}

input[id="basic_info4"]:checked~.content4 {
	display: block;
}

.content_name {
	/* 플렉스 */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 23px;
}

.content_name h5 {
	font-size: 23px;
	font-weight: 500;
}

.content1 .content_name p {
	padding: 12px 36px;
	border: var(--border);
	border-radius: 8px;
}

.content1 .table table {
	width: 100%;
	height: 150px;
	text-align: center;
}

.table table,
.table th,
.table td {
	border: 1px solid #fafbfb;
	border-top: var(--border);
	border-collapse: collapse;
	border-right: none;
}

.table th {
	vertical-align: middle;
	background-color: #f5fafd;
	font-weight: 500;
	line-height: 1.3;
}

.content1 .table td {
	vertical-align: middle;
	height: 6rem;
}

.table th:first-child,
.table table {
	border-left: none;
}

.content2 .content_name p {
	/* 14/16 = 0.875 */
	font-size: 0.875rem;
	color: #999999;
}

.content2 .table th {
	background-color: #f5fafd;
	vertical-align: middle;
	height: 6rem;
	width: 205px;
}

.content2 .table td {
	height: 6rem;
	vertical-align: middle;
	text-align: right;
	padding-right: 20px;
}

.blue {
	color: var(--main-color);
	position: relative;
}

.blue img {
	position: absolute;
	top: 36px;
	right: 65px;
}

.red {
	color: #ed3738;
	position: relative;
}

.red img {
	position: absolute;
	top: 36px;
	right: 65px;
}

.text p {
	font-size: 17px;
	line-height: 1.5;
	padding-left: 10px;
}

.text p span {
	color: #ed3738;
}

.text {
	/* 플렉스 */
	display: flex;
	margin-top: 20px;
}

.text img {
	height: 100%;
	padding: 3px;
	padding-right: 0;
}

.attention {
	border: #e4e5e8 1px solid;
	border-radius: 14px;
	padding: 43px 50px;
	margin-top: 34px;
}

.attention p {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 20px;
}

.attention img {
	height: 14px;
	width: 14px;
}

.attention ul li {
	font-size: 1rem;
	margin-bottom: 14px;
}

.content_name h5 span {
	font-size: 12px;
	font-weight: 300;
}

.content4 .table {
	display: flex;
}
.content4 .table .portfolio{
	margin-right: 10px;
}
.content4 .table img {
	height: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.content4 .table th {
	width: 200px;
	height: 60px;
}

.content4 .table td {
	vertical-align: middle;
	text-align: right;
}