@charset "utf-8";
/* IE 화살표 없애기 */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 98px;
    height: 37px;
}


/* Contents */
main{
    margin-top: 20px;
}
/* Category Area */
.title h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 35px;
}
.title :is(article, .category, article a){
    /* 플렉스 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.title article {
    width: 100%;
    font-size: 1.2rem;
    background-color: #F3F5FA;
}
.title article a{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #1A89DA;
    color: #999999;
    cursor: pointer;
}
.title article a.check{
    border: 1px solid #1A89DA;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    color: #000;
    background-color: #fff;
}

/* ==================================================== */
/* Graph Area */
.graph {
    border: 1px solid #cccccc;
    border-top: none;
    border-radius: 0 0 25px 25px;
    margin-bottom: 62px;
}
.graph_title {
    font-size: 1.5rem;
    letter-spacing: -2px;
    padding: 30px 20px;
    margin-bottom: 18px;
}
.graph_title span {
    color: var(--main-color);
    font-weight: 600;
}

.slide li {
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.slide li:not(.check){
    display: none;
}
.slide .box{
    width: 100%;
    padding: 0 20px;
}
.slide .box :first-child:has(p){
    height: 163px;
    text-align: center;
}
.slide .box :first-child p{
    display: inline-block;
    width: 148px;
    height: 163px;
    background-color: #B4558C;
    border-radius: 16px;
    animation: graph_ani linear 0.6s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani {
    from{
        height: 0;
    }
    to{
        height: 163px;
    }
}

.slide .box :first-child p::after{
    content: "%";
}
/* ------------------------ */
/* 슬라이더 장바구니/ 지정버튼 */
.slide .taskBtn{
    font-weight: 300;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;

}
.slide .taskBtn div{
    display: inline-block;
    border-radius: 16px;
    padding: 5px 10px;
    border: var(--border);
}
.slide .taskBtn div.join{
    background-color: var(--main-color);
    border: none;
    color: #fff;
}
.slide .taskBtn div:first-child{
    margin-right: 10px;
}

/* ------------------------ */
/* 슬라이더 앞뒤이동 버튼 */
.sliderBtn{
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.sliderBtn a{
    padding: 10px;
}
/* ==================================================== */
/* Total_list Area */
.total_list {
    /* 플렉스 */
    display: flex;
}
.total_list h2 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 3px;
    padding-right: 10px;
}
.total_list h2>span {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
    margin-right: 40px;
}
.select_arrow {
    width: 91px;
    height: 37px;
    padding: 10px 8px 10px 12px;
    border: 1px solid #999999;
    border-radius: 8px;
    margin-right: 20px;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
}
.select_arrow2  {
    width: 101px;
    height: 37px;
    padding: 10px 3px 10px 12px;
    border: 1px solid #999999;
    border-radius: 8px;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
}


select::-ms-expand {display: none;}
select {
    background-image: url('../images/sub/down-arrow.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 67px 10px;
    margin-bottom: 16px;
}
select:last-child {
    background-position: 77px 10px;
}
.tr1 select {
    margin-bottom: 0;
}
/* ==================================================== */
/* List_CheckBox Area */
.checkbox_area {
    border-top: var(--border);
    border-bottom: var(--border);
    /* 플렉스 */
    display: flex;
    margin-bottom: 60px;
}
.checkbox_area p {
    width: 240px;
    line-height: 60px;
    background-color: #F6F6F6;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
label {
    width: 133px;
}
label span {
    padding: 2px 0 0 10px;
    display: inline-block;
}
input {
    width: 20px;
    height: 20px;
}



/* ==================================================== */
/* Compare Area  */
.compare_area {
    display: flex;
    border-top: var(--border);
    border-bottom: var(--border);
    height: 90px;
    margin-bottom: 40px;
    background-color: #F6F6F6;
}
.container_2 {
    /* 플렉스 */
    display: flex;
}
.container_2>p {
    line-height: 90px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 43px;
    margin-right: 71px;
}
.container_2>p>span {
    color: var(--main-color);
    font-weight: 600;
}
.text_box p {
    display: inline-block;
    background-color: #fff;
    width: 226px;
    height: 50px;
    border-radius: 8px;
    border: var(--border);
    margin-top: 20px;
    padding: 16px 100px 16px 20px;
    color: #000;
    letter-spacing: -1px;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    margin-right: 20px;
}

.compare_btn {
    text-align: center;
    width: 150px;
    line-height: 90px;
    background-color: #fff;
    cursor: pointer;
}
.compare_area .compare_btn>span {
    width: 112px;
    height: 49px;
    line-height: 49px;
    display: inline-block;
    background-color: #EBEBED;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    border-radius: 14px;
    color: #666;
}

/* 호버효과 */
.compare_btn span:hover {
    background-color: #008DDB;
}
.compare_btn span:hover a {
    color: white;
    border-bottom: 1px solid #fff;
}
/* ==================================================== */
/* Table */
.table tr th:nth-child(1) {width: 117px;}
.table tr th:nth-child(2) {width: 734px;}
.table tr th:nth-child(3) {width: 205px;}
.table tr th:nth-child(4) {width: 190px;}
.table tr th:nth-child(5) {width: 194px;}

/* 테이블 border */
table {
    border-collapse : collapse;
    border-spacing : 0;
    margin-bottom: 30px;
}
table input {
    transform: scale(1.5);
}
.table table th {
    border-top: var(--border);
    border-bottom: var(--border);
    border-right: var(--border);
    font-weight: 500;
}
.table .tr2 td {
    border-right: var(--border);
    border-bottom: var(--border);
}

.table .tr1{
    height: 100px;
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
}
.table .tr1 select {
    margin-top: 6px;
    padding: 10px 0 10px 12px;
    border-radius: 8px;
}
.table .tr1 th {
    vertical-align: middle;
    background-color: #f6f6f6;
}


/* table td */
.table .tr2{
    height: 196px;
}
.table .tr2 td {
    vertical-align: middle;
    
}
.table .tr2 .td1 {
    vertical-align: middle;
    padding-left: 45px;
}
.table .tr2 .td2 {
    padding: 20px 0 30px 30px;
}
.table .tr2 .td2_d1 img {
    margin-right: 4px;
}
.td2 div {
    margin-bottom: 20px;
}
.td2 div h2 {
    font-size: 18px;
    font-weight: 500;
}
.td2 div h2 span {
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    font-weight: 400;
    color: #666;
}
.td2_d3 {
    display: flex;
    color: #666;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
}
.td2 div ul {
    display: flex;
    flex-flow: column;
    line-height: 1.2;
}
.td2 div ul li::before {
    content: "·";
    padding: 0 5px;
}

.td2 div ul .li1 img {
    margin-right: 2px;
}
.td2 div ul .li1 img:first-child {
    margin-left: 10px;
}
.td2 div ul .li1 {
    margin-right: 56px;
}
.td2 div ul .li3 {
    margin-right: 202px;
}

.td3 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.td4 {
    font-size: 18px;
    color: #D63434;
    text-align: center;
    font-weight: 500;
}

.td5 {
    text-align: center;
}
.td5 button {
    padding: 10px 40px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.td5 button:nth-child(1) {
    background-color: var(--main-color);
    border: 1px solid #0046ff;
    color: #fff;
}
.td5 button:nth-child(2) {
    border: var(--border);
}
/* 페이지 버튼 */
.page_num {
    height: 30px;
    margin-bottom: 30px;
}
.page_num ul {
    display: flex;
    justify-content: center;
}
.page_num ul li {
    font-size: 18px;
    padding: 5px 12px;
    line-height: 24px;
}
/* .page_num ul li:nth-child(3) {
    background-color: #336bff;
    border-radius: 5px;
} */

.table00, .table01, .table02  {
    display: none;
}
.table00 {
    display: block;
}

.notice {
    height: 220px;
    padding: 33px 0 30px 30px;
    border: 1px solid #999;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 40px;
    border-radius: 10px;
}
.notice img {
    vertical-align: middle;
    margin-right: 10px;
}

.notice h3::before {
    content: "·";
    padding: 0 5px;
}
.notice p{
    font-size: 16px;
    color: #999;
    padding-left: 15px;
}
.notice p::before {
    content: "-";
    padding: 0 5px;
}

/* link */
.link {
    height: 100px;
    line-height: 100px;
    border: 1px solid #999;
    border-radius: 10px;
    /* 플렉스 */
    display: flex;
    padding-left: 27px;
    margin-bottom: 40px;
}
.link h2 {
    margin-right: 20px;
}
.link h2 img {
    margin-right: 10px;
}
.link img {
    margin-top: -4px;
    vertical-align: middle;
}
.link ul {
    /* 플렉스 */
    display: flex;
}
.link ul li {
    margin-right: 20px;
}
.link ul li a {
    padding: 5px 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
}


/* 호버 효과 */
.compare h2:hover {
    background-color: #008ddb;
    color: #fff;
    text-decoration: underline;
}

/* 테이블 */
.td5 button:nth-child(1):hover{
    background-color: #002da4;
    text-decoration: underline;
}
.td5 button:nth-child(2):hover{
    text-decoration: underline;
}

/* 테이블 페이지 number */
.bt_num_bg {
    background-color: #336bff;
    border-radius: 5px;
    color: #fff;
}
.page_num li a {
    cursor: pointer;
}