#top_select_menu{
    background-color: #FAFBFB;
    border: 1px solid #CCCCCC;
    margin-bottom: 50px;
}
#top_select_menu > div{
    line-height: 2.5;
    /* 플랙스 */
    display: flex;
    justify-content: space-between;
}
.loginTitle{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
}

.loginBtn{
    /* 플랙스 */
    display: flex;
}
.loginBtn li{
    width: 100%;
}
.loginBtn li a{
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #F6F6F6;
    border-bottom: 2px solid #097DF3;
    font-weight: 600;
    color: #999999;
}

.loginBtn li.cheack a{
    border-radius: 16px 16px 0 0;
    border: 2px solid #097DF3;
    border-bottom: none;
    color: #097DF3;
}

.loginItemWrap .item{
    padding-top: 20px;
    /* 플랙스 */
    display: flex;
    justify-content: center;
    text-align: center;
}

/* label 숨기기 */
.loginItemWrap .item label{
    display: none;
}
fieldset:has(.itemIDPASS){
    display: flex;
}
.itemIDPASS input{
    border: 1px solid #CCCCCC;
}