@media screen and (max-width:768px){
    /* 전체 설정 */
    html, 
    body{
        width: 100vw;
        height: 100vh;
        font-size: 2vw;
    }
    /* safe-area */
    .w1440{
        width: 90vw;
    }
    /* ================================= */
    /* main 페이지 */
    /* ================= */
    /* article */
    /* ================= */
    .mainArticle{
        width: 70%;
    }
    .mainSlider div a{
        height: 50vh;
    }
    /* ================================= */
    /* header */
    /* ================= */
    header .logo{
        /* (193/768)*100 = 25.130208333333332 */
        width: 25.130208333333332%;
    }
    header .logo img{
        vertical-align: middle;
        width: 100%;
    }
    
    .snbItem dl {
        width: 50%;
    }
    /* ================================= */
    /* main 페이지 */
    /* ================= */
    /* article */
    /* ================= */
    article.w1440{
        margin-top: 0;
        flex-flow: column;
    }
    .mainArticle{
        width: 100%;
    }

    /* ----------------------- */
    /* snb_content */
    .snbArticle{
        width: 100%;
    }
    #snbArticle_01, 
    #snbArticle_02{
        display: none;
    }
    /* -------------------------- */
    /* content1 */
    /* -------------------------- */
    #content1 .card
    #content1 .card {
        /* 1440*0.2326388888888889 = 335 */
        /* (335/768)*100 = 43.61979166666667 */
        width: 43.61979166666667%;
    }
    .mainSlider img {
        max-width: none;
        width: auto;
    }
    /* -------------------------- */
    /* content2 */
    /* -------------------------- */
    #content2{
        flex-flow: column;
    }
    .chartGraph{
        width: 100%;
    }
    /* ----------- */
    #content2 .right{
        width: 100%;
    }
    
    /* -------------------------- */
    /* content3 */
    /* -------------------------- */
    #content3{
        flex-flow: column;
    }

}

@media screen and (max-width:360px){
    
}