/* 그래프 css */
.box1 div {
    width: 148px;
    height: 163px;
    background-color: #B4558C;
    border-radius: 16px;
    animation: graph_ani_01 linear 0.6s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_01 {
    from{
        height: 0;
    }
    to{
        height: 163px;
    }
}
.box2 div {
    display: inline-block;
    width: 148px;
    height: 147px;
    background-color: #7655B3;
    border-radius: 16px;
    animation: graph_ani_02 linear 0.8s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_02 {
    from{
        height: 0;
    }
    to{
        height: 147px;
    }
}
.box3 div {
    width: 148px;
    height: 131px;
    background-color: #6570C0;
    border-radius: 16px;
    animation: graph_ani_03 linear 1s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_03 {
    from{
        height: 0;
    }
    to{
        height: 131px;
    }
}
.box4 div {
    width: 148px;
    height: 113px;
    background-color: #474747;
    border-radius: 16px;
    animation: graph_ani_04 linear 1.2s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_04 {
    from{
        height: 0;
    }
    to{
        height: 113px;
    }
}
.box5 div {
    width: 148px;
    height: 107px;
    background-color: #4F4F4F;
    border-radius: 16px;
    animation: graph_ani_05 linear 1.4s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_05 {
    from{
        height: 0;
    }
    to{
        height: 93px;
    }
}
.box6 div {
    width: 148px;
    height: 100px;
    background-color: #4F4F4F;
    border-radius: 16px;
    animation: graph_ani_06 linear 0.6s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_06 {
    from{
        height: 0;
    }
    to{
        height: 100px;
    }
}
.box7 div {
    width: 148px;
    height: 95px;
    background-color: #727272;
    border-radius: 16px;
    animation: graph_ani_07 linear 0.8s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_07 {
    from{
        height: 0;
    }
    to{
        height: 95px;
    }
}
.box8 div {
    width: 148px;
    height: 93px;
    background-color: #959595;
    border-radius: 16px;
    animation: graph_ani_08 linear 1s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_08 {
    from{
        height: 0;
    }
    to{
        height: 93px;
    }
}
.box9 div {
    width: 148px;
    height: 90px;
    background-color: #B9B9B9;
    border-radius: 16px;
    animation: graph_ani_09 linear 1.2s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_09 {
    from{
        height: 0;
    }
    to{
        height: 90px;
    }
}
.box10 div {
    width: 148px;
    height: 83px;
    background-color: #cbcbcb;
    border-radius: 16px;
    animation: graph_ani_10 linear 1.4s;
}
/* 애니메이션 키프레임 */
@keyframes graph_ani_10 {
    from{
        height: 0;
    }
    to{
        height: 83px;
    }
}

/* 박스 위치 설정 css */
.box1, .box2, .box3, .box4, .box5,
.box6, .box7, .box8, .box9, .box10 {
    width: 273px;
    height: 367px;
    /* 포지션 위치기준값 (박스들의 div) */
    position: relative;
}

.box1 div, .box2 div, .box3 div, .box4 div, .box5 div,
.box6 div, .box7 div, .box8 div, .box9 div, .box10 div {
    /* 포지션 */
    position: absolute;
    left: 64px;
    bottom: 169px;
    z-index: 1;
}

/* 그래프 수치 css */
.box1 div>p, .box2 div>p, .box3 div>p, .box4 div>p, .box5 div>p,
.box6 div>p, .box7 div>p, .box8 div>p, .box9 div>p, .box10 div>p {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    /* 포지션 */
    position: absolute;
    left: 23px;
    bottom: 20px;
    letter-spacing: -2px;
}

.box1 div>p span, .box2 div>p span, .box3 div>p span, .box4 div>p span, .box5 div>p span,
.box6 div>p span, .box7 div>p span, .box8 div>p span, .box9 div>p span, .box10 div>p span {
    font-size: 18px;
    font-weight: 700;
}

/* 그래프 순위 및 상품 이름 텍스트 css */
.slide .rank {
    width: 61px;
    height: 22px;
    background-color: #f6f6f6;
    border-radius: 16px;
    padding: 4px 16px;
    /* 포지션 */
    position: absolute;
    left: 20px;
    bottom: 107px;
    z-index: 1;

}
.slide h2 {
    font-size: 18px;
    font-weight: 500;
    /* 포지션 */
    position: absolute;
    left: 20px;
    bottom: 60px;
    z-index: 1;
}
.slide h3 {
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    color: #666;
    font-weight: 300;
    /* 포지션 */
    position: absolute;
    left: 20px;
    bottom: 29px;
    z-index: 1;
}

/* 버튼 css */
.slide .basket, .slide .join {
    width: 87px;
    height: 25px;
    border-radius: 16px;
    padding: 5px 18px;
    border: var(--border);
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    white-space: nowrap;
    cursor: pointer;
}
.slide .new_buy, .slide .join {
    width: 87px;
    height: 25px;
    border-radius: 16px;
    padding: 5px 20px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 300;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    white-space: nowrap;
    /* 포지션 */
    position: absolute;
    left: 114px;
    bottom: -16px;
    z-index: 1;
    cursor: pointer;
}
.slide .basket {
    /* 포지션 */
    position: absolute;
    left: 17px;
    bottom: -16px;
    z-index: 1;
}
.slide .join {
    background-color: #fff;
    color: #000;
    padding: 5px 17px;
}
/* 호버효과 */
.slide .basket:hover a, .slide .join:hover a {
    border-bottom: var(--border);
}
.slide .new_buy:hover {
    background-color: #002DA4;
    color: #fff;
}
.slide .new_buy:hover a {
    border-bottom: 1px solid #fff;
}

/* 화살표 css */
.slide+article {
    /* 포지션 위치기준값(back/forward) */
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    height: 133px;
}
.back_btn {
    /* 포지션 */
    position: absolute;
    left: 681px;
    bottom: 33px;
    z-index: 1;
    cursor: pointer;
}
.forward_btn {
    /* 포지션 */
    position: absolute;
    right: 681px;
    bottom: 33px;
    z-index: 1;
    cursor: pointer;
}


.checkbox1,
.checkbox2,
.checkbox3,
.checkbox4,
.checkbox5 {
    height: 60px;
    /* 플렉스 */
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0 0 40px;
}
.checkbox6 {
    margin-top: 30px;
}
.checkbox1 label:first-child,
.checkbox2 label:first-child,
.checkbox3 label:first-child,
.checkbox4 label:first-child,
.checkbox5 label:first-child {
    margin-bottom: 20px;
}