.mainArticle{
    margin-top: 37px;
    margin-bottom: 120px;
    /* 플랙스 */
    display: flex;
}
.mainSilder{
    margin-right: 60px;
    margin-bottom: 31px;
}

.mainBanner{
    width: 1256px;
    height: 362px;
    background-color: #D9D9D9;
    border-radius: 16px 16px 0 0;
}
.lnbWrap{
    width: 1256px;
    height: 160px;

}
.lnbWrap{
    background-color: #F6F6F6;
    border-radius: 0 0 16px 16px;
    /* 플랙스 */
    display: flex;
    align-items: center;
}
.lnb_btn label{
    display: block;
    width: 212px;
    height: 80px;
    cursor: pointer;
    background-color: #E7E7E7;
    /* 플랙스 */
    display: flex;
    align-items: center;    
    justify-content: space-around;
}
.lnb_btn label:last-child{
    border-radius: 0 0 16px 16px;
}
.lnb_btn input:checked + label{background-color: #F6F6F6;}
/* 버튼 */
.lnb_btn input + label::after{
    content: url(../images/2_main/section1/double_arrow_gray.png);
    margin-top: 8px;
}
.lnb_btn input:checked + label::after{
    content:url(../images/2_main/section1/double_arrow_blue.png);
}
/* input 숨기기 */
.lnb_btn input{
    display: none;
}

.lnbWrap nav{
    width: 100%;

}

.lnb{
    /* 플랙스 */
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
}

.lnb a{
    /* 플랙스 */
    display: flex;
    flex-flow: column;
    align-items: center;
}
.lnb a img{
    width: min-content;
}
